:root{
    --bg-color: #f9f9f9;
    --primary-color: #0085a1;
    --border-radius: 6px;
    --border-radius-large: 8px;
}

.mttgallerylb-image-link {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    /* background-color: var(--bg-color); */
    line-height: 0;
    border-radius: var(--border-radius-large);
  }
  .mttgallerylb-image-link:hover {
    background-color: var(--primary-color);
  }
  
  .mttgallerylb-image {
    width: 7rem;
    border-radius: var(--border-radius);
  }